* {
    margin: 10px;
 }
header {
    
    background-color: #4c00ff;
    text-align: left;
    height: 10%; 
    width:100%;
    padding-top:  20px;

    font-size: 75px;
    font-weight:bold;
    font-family:sans-serif;
    color:#F7F5F4;
 
}
nav{
    width: 15%;
    height: 1000px;
    float:left;
    margin: 0.5%;
    background-color: blue;
}
main{
 HEAD
    width: 83.5%;
    height:850px;
    width: 70%;
    height:600px;
    background-color:yellow;
    margin: 0.5%;
    margin-left: 0%;
    float:left;
    
   
 
    
}
article{
    width: 40%;
    text-align: center;
    float:left;

    background-color: green;
}
footer{
    width: 83.45%;
    height: 140px;
    margin-top:0%;
    margin-left:0%;
   float:right;

    background-color: brown;
}

#wrapper {
    width: 100%;
    height: 80%; 
    float:left;
    background-color:red;
}

.img {background-color: black;
     float:right;
}
