* {
    margin: 10px;
 }
header {
    
    background-color: #2C5187;
    text-align: left;
    height: 10%; 
    width:100%;
    padding-top:  20px;

    font-size: 75px;
    font-weight:bold;
    font-family:sans-serif;
    color:#F7F5F4;
 
}

body{
background-image: url('/images/background\ gif.gif');}


nav{
    width: 15%;
    height: 2000px;
    float:left;
    margin: 0.5%;
    background-color: #484f49;
}
main{
    width: 83.5%;
    height: 2000px;
    background-color: #F7F5F4;
    margin: 0.5%;
    margin-left: 0%;
    float:left;
    margin: right 0%;
    
 
}
article{
    width: 98.5%;
    text-align: center;
    background-color: #dddddd;
    float: left;
    text-align: left;
}


#0A5269


footer{
    width: 99%;
    height: 140px;
    margin-top:0.5%;
    margin-left:0%;
    float:right;
    background-color:#5AD3FF;
}

#wrapper {
    width: 100%;
    height: 80%; 
    float:left;
    background-color:white;
}

#img { height:75%;
    width: 35%;
    float:right;
    margin: right 5%; ;

}

#tekst {float: left;
        width:50%;
}

#verder {text-align: center;
        background-color: #F7F5F4;
        width:5%;
        margin-top:2.25%;
        margin-right:44.5% ;
        float: right;
        height: 50px;
        padding:0%;
        margin: bottom 0%;
        font-size:30px;

        
}

#terug {text-align: center;
    background-color: #F7F5F4;
    width:5%;
    margin-top:1.5%;
    height: 50px;
    float:right;
    padding:0.001%;
    margin-bottom:0%;
    font-size:30px ;
}

.navbar th {
  width: 25%;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor:pointer;
  color: #FFFFFF;  
  font-family: Georgia, Times, serif;
}
.navbar th:hover, .AVnav, .Bnav, .DVnav, .Mnav {
  background-color:#4E596C;
}