* {
    margin: 10px;
 }
header {
    
    background-color: #4c00ff;
    text-align: left;
    height: 10%; 
    width:90%;
    padding-top:  20px;
    padding-bottom: ;
    font-size: 75px;
    font-weight:bold;
    font-family:sans-serif;
    color:#F7F5F4;

}
nav{
    width: 20%;
    height: 5000;
    float:left;

    background-color: blue;
}
main{
    width: 20%;
    height:20%;
    background-color:yellow;
    float:right;
}
article{
    width: 40%;

    background-color: green;
}
footer{
    width: 80%;
    height: 10%;
    float:none;

    background-color: brown;
}

#wrapper {
    width:50%;
    height: 80%; 
    float:left;
    background-color:red;
}

