* {
    margin: 10px;

 }

 
header {
    
    background-color: #2C5187;
    text-align: left;
    height: 10%; 
    width:100%;
    padding-top:  20px;

    font-size: 75px;
    font-weight:bold;
    font-family:sans-serif;
    color:#F7F5F4;
    border-radius: 25px;
    border: 2px solid black;
 
}

body{
    background-image: url('/images/background\ gif.gif');}


    nav{
        width: 25%;
        height: 410vh;
        float:left;
        margin: 0.5%;
        background-color: #484f49;
        font-size:20px;
        
        border-radius: 25px;
        border: 2px solid black;
        box-shadow:2px 2px 4px #000000; 
        
        
        
    }
    
    nav a{text-decoration:none;
        color:whitesmoke;
        font-size:40px;
        margin:4%;
        font-size: 25px;
        margin:5%;
        border-bottom:3px solid black;
 
}

nav a:hover { border-radius: 25px;
    border: 2px solid white;
    padding: 5px;
    width: 200px;
    height: 150px;
    box-shadow:2px 2px 4px #000000;
    
}
    
nav p{
    border-bottom:4px solid black;
    display: inline-block;
    color: whitesmoke;     
    width:90%;
    font-size:45px;
    text-align: center;
    margin-top:5% ;

}
main{
    width:72%;
    height: 80%;
    background-color: white;
    margin: 0.5%;
    margin-left: 0%;
    float:left;
    margin: right 0%;
    
 
}
article{
    width: 98.5%;
    text-align: center;
    background-color: #dddddd;
    float: left;
    text-align: left;
    font-size:25px;
    height:16%;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
  

    

}

article a{color: black;
        text-decoration: none;
}

article a:hover{color: black;
    text-decoration: underline;
}



footer{
    width: 99%;
    height: 10%;
    margin-top:0.5%;
    margin-left:0%;
    float:right;
    background-color:#5AD3FF;

    border-radius: 25px;
    border: 2px solid black;
}

#wrapper {
    width: 99%;
    height: 80%; 
    float:left;
    background-color:white;
    border-radius: 25px;
    border: 2px solid black;
    
    
    padding:0px;
    
}

#tekst1 {float: left;
    width:40%;
    margin-left:6%;
    margin-right:0.5%;
    font-size: 20px;
    border-radius: 25px;
    border: 2px solid black;
    padding:20px;
    box-shadow:2px 2px 4px #000000;
    
    

}
#plaatje1 { float: right;
    width: 25%;
    margin-right:20%;
    margin-left:0.5%;
}

#plaatje2 {float :left;

    width: 25%;
    margin-right:0.5%;
    margin-left:6%;
    
}

#tekst2 {float: right;

    
    margin-right:10%;
    margin-left:0.3%;
    width:40%;
    font-size: 20px;
    border-radius: 25px;
    border: 2px solid black;
    padding:20px;
    box-shadow:2px 2px 4px #000000;
    
}
    


#tekst3 {float: left;
    width:40%;
    margin-left:6%;
    margin-right:0.5%;
    font-size: 20px;
    border-radius: 25px;
    border: 2px solid black;
    padding:20px;
    box-shadow:2px 2px 4px #000000;
}
#tekst3 {float: left;
    width:40%;
    margin-left:10%;
    margin-right:0.5%;
    font-size: 25px;
    
   

}

#tekst4 {float: right;

    
    margin-right:10%;
    margin-left:0.3%;
    width:40%;
    font-size: 20px;
    border-radius: 25px;
    border: 2px solid black;
    padding:20px;
    box-shadow:2px 2px 4px #000000;
}
#tekst4 {float: right;

    
    margin-right:10%;
    margin-left:0.5%;
    width:40%;
    
}




#verder {
    text-align: center;
        background-color:whitesmoke;
        width:5%;
        
        
        float: right;
        height: 50px;
       margin-right:44.0% ;
        margin-bottom:5.0%;
        font-size:30px;
        color:#3A3B3C;
        border-radius: 25px;
    border: 2px solid black;
    box-shadow:2px 2px 4px #000000; 

        
}

#terug {text-align: center;
    background-color: whitesmoke;
    width:5%;
    
    height: 50px;
    float:left;
    margin-left:44.0%;
    
    margin-bottom:5.0%;
    font-size:30px ;
    color:#3A3B3C;
    border-radius: 25px;
    border: 2px solid black;
    margin-left: 44%;
    
    box-shadow:2px 2px 4px #000000; 

}

h1{
    font-size: 50px;
}

p{
    font-size: 30px;
}

li {font-size: 20px;}

